<h1>{{title}}</h1>
<div>
    <form action="/login" method="post">
        <div>用户名: <input name="userName" type="text" /></div>
        <div>密码: <input name="pw" type="password" /></div>
        <input type="submit">
    </form>
</div>